In [4]:
a= 5

In [5]:
a

5

In [6]:
a = []
for i in range(1,11):
    m = 10*i
    a.append(m)

In [7]:
a

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [9]:
m = [i for i in range(0,101,10)]

In [10]:
m

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [11]:
import numpy as np

In [ ]:
for i in range(1,6):