# COUNTER

In [37]:
#counter

from collections import Counter

In [38]:
l = [1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,3,3,4,4,4,4,5,5,5,6,6,6,6]
Counter(l)

Counter({1: 4, 2: 5, 3: 8, 4: 4, 5: 3, 6: 4})

In [39]:
s = "aaaaaaasssdddddddssssssddsdsdsdsdsdsds"
Counter(s)

Counter({'a': 7, 's': 16, 'd': 15})

In [40]:
s= "I am sanket dave and I am a computer engineer I love to do code on computers"

In [41]:
a = s.split()
print(Counter(a))

Counter({'I': 3, 'am': 2, 'sanket': 1, 'dave': 1, 'and': 1, 'a': 1, 'computer': 1, 'engineer': 1, 'love': 1, 'to': 1, 'do': 1, 'code': 1, 'on': 1, 'computers': 1})

In [42]:
c = Counter(a)

In [43]:
c.keys()

dict_keys(['I', 'am', 'sanket', 'dave', 'and', 'a', 'computer', 'engineer', 'love', 'to', 'do', 'code', 'on', 'computers'])

In [44]:
for i in c.elements():
    print(i)

I
I
I
am
am
sanket
dave
and
a
computer
engineer
love
to
do
code
on
computers

In [45]:
c.get('I')

3

In [46]:
c.items()

dict_items([('I', 3), ('am', 2), ('sanket', 1), ('dave', 1), ('and', 1), ('a', 1), ('computer', 1), ('engineer', 1), ('love', 1), ('to', 1), ('do', 1), ('code', 1), ('on', 1), ('computers', 1)])

In [47]:
c.most_common(2)

[('I', 3), ('am', 2)]

In [48]:
c.pop('code')

1

In [49]:
c

Counter({'I': 3,
         'am': 2,
         'sanket': 1,
         'dave': 1,
         'and': 1,
         'a': 1,
         'computer': 1,
         'engineer': 1,
         'love': 1,
         'to': 1,
         'do': 1,
         'on': 1,
         'computers': 1})

In [50]:
c.popitem()

('computers', 1)

In [51]:
c.

SyntaxError: invalid syntax (<ipython-input-51-cf463a5954f9>, line 1)

In [ ]:
c.values()

In [ ]:
c.update({"hehe":2})

In [52]:
c

Counter({'I': 3,
         'am': 2,
         'sanket': 1,
         'dave': 1,
         'and': 1,
         'a': 1,
         'computer': 1,
         'engineer': 1,
         'love': 1,
         'to': 1,
         'do': 1,
         'on': 1})

# defaultdict

In [53]:
from collections import defaultdict

In [54]:
d ={'k1':1}

In [55]:
d['k1']

1

In [56]:
d['k2']

KeyError: 'k2'

In [57]:
d = defaultdict(object)

In [58]:
d['one']

In [59]:
d = defaultdict(lambda:0)

In [60]:
d['one']

0

In [65]:
d['three']

0

In [66]:
d['two']=2

In [67]:
d

defaultdict(<function __main__.<lambda>()>, {'one': 0, 'two': 2, 'three': 0})

In [68]:
#we can see here a normal dictionary will give us an error but 
#by using defaultdict it will not give an error even if the key is not there
#it will assign a default value to it

In [90]:
a = ['sanket','dave','op','immortal']
b = ['zaher','burst','snax','love']
c={}
for i in range(len(a)):
    for j in range(len(b)):
        if i == j:
            c[a[i]]=b[j]
        else:
            pass

In [92]:
c

{'sanket': 'zaher', 'dave': 'burst', 'op': 'snax', 'immortal': 'love'}

# OrderedDict

In [93]:
d ={}
d['a'] =1
d['b'] =2
d['c'] =3
d['d'] =4
d['e'] =5

In [94]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [95]:
for i,j in d.items():
    print(i,j)

a 1
b 2
c 3
d 4
e 5

In [96]:
from collections import OrderedDict

In [97]:
d = OrderedDict()

In [98]:
d['a'] =1
d['b'] =2
d['c'] =3
d['d'] =4
d['e'] =5

In [99]:
for i,j in d.items():
    print(i,j)

a 1
b 2
c 3
d 4
e 5

In [101]:
d1 = OrderedDict()
d1['a']=1
d1['b']=2

d2= OrderedDict()
d2['b']=2
d2['a']=1

In [102]:
d1

OrderedDict([('a', 1), ('b', 2)])

In [103]:
d2

OrderedDict([('b', 2), ('a', 1)])

In [108]:
d1 == d2

False

# namedtuple

In [110]:
t = (1,2,3)

In [111]:
t[0]

1

In [112]:
t[:2]

(1, 2)

In [113]:
from collections import namedtuple

In [114]:
#SYNTAX
#Dog = namedtuple('CLASSNAME','ATTRIBUTE1(SPACE)ATTRIBUTE2 ')
Dog = namedtuple('Dog','age breed name')

In [115]:
a= Dog(2,"lab",'gopi')

In [124]:
a.age

2

In [125]:
a[0]

2