In [7]:
def check_vowel(s):
    if s[0] in "aeiou":
        return s +'ay'
    else:
        return s[1:]+ s[0] +'ay'

In [8]:
check_vowel("word")

'ordway'

In [11]:
def sd(*a):
    return sum(a)

In [12]:
sd(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)

136

In [105]:
def lesse_even(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [106]:
lesse_even(5,7)

7

In [31]:
def check(a):
    if a.split()[0][0] == a.split()[1][0]:
        return True
    else:
        return False

In [33]:
check("sanket dave")

False

In [34]:
def capitalize(a):
    return a[0].capitalize() + a[1:3] +a[3].capitalize()+a[4:]

In [35]:
capitalize("sanket")

'SanKet'

In [60]:
def reverse(a):
    b = a.split()
    c=''
    for i in range(len(b)-1,-1,-1):
        c = c + b[i] +" "
    return c

In [66]:
reverse("I am home")

'home am I '

In [71]:
def sdd(x,y):
    c =0

In [73]:
sdd('hah','hahahah')

6

In [84]:
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c)) > 21:
        if 11 in [a,b,c]:
            return sum((a,b,c))-10
        else:
            return 'BUST'

In [85]:
blackjack(5,6,7)

18

In [86]:
blackjack(9,9,9)

'BUST'

In [92]:
blackjack(9,9,11)

19

In [94]:
def sum_69(*a):
    s=0
    for i in range(len(a)):
        if a[i] in [6,7,8,9]:
            pass
        else:
            s += a[i]
    return s

In [97]:
sum_69(4,5,6,7,8,9)

9

In [122]:
def s_33(a):
    for i in range(0,len(a)-1):
        if a[i]==3  and a[i+1]==3:
            return True
    return False

In [123]:
s_33([1,3,3])

True

In [127]:
def paper(s):
    b=''
    for i in range(len(s)):
        b+= s[i]*3
    return b

In [128]:
paper("sdd")

'sssdddddd'

In [139]:
def spy_game(a):
    pat =[0,0,7,'x']
    for i in a:
        if i == pat[0]:
            pat.pop(0)
    return len(pat) == 1

In [140]:
spy_game([1,2,4,0,0,7,5])

True

In [142]:
def prime(a):
    if a <2:
        return 0
    l=[2]
    
    x=3
    
    while x<=a:
        for y in range(3,x,2):
            if x%y==0:
                x+=2
                break
        else:
            l.append(x)
            x+=2
    print(l)
    return len(l)

In [143]:
prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [161]:
z=25
def sd():
    z= 50
    return z

In [162]:
sd()

50

In [163]:
print(sd())

50

In [167]:
#GLOBAL
name = "THIS IS A GLOBAL STRING"

def greet():
    #ENCLOSING
    name = "Sanket"
    
    def hello():
        #LOCAL
        name ="IM A LOCAL"
        print('Hello '+name)
    hello()
greet()

Hello IM A LOCAL

In [168]:
def vol(r):
    return 3.14*(r**2)

In [169]:
vol(10)

314.0

In [171]:
def ran_check(n,low,high):
    return n in range(low,high)

In [172]:
ran_check(3,1,10)

True

In [178]:
chr(90)
chr(122)

'z'

In [177]:
#65 to 90
#97 to 122

'A'

In [179]:
def up_low(s):
    a=0
    b=0
    for i in s:
        if ord(i) in range(65,91):
            a+=1
        elif ord(i) in range(97,123):
            b+=1
    return 'No, of upper case is {} and lower case is {}'.format(a,b)

In [181]:
up_low("Hello Mr. Rogers , how are you this  fine Tuesday?")

'No, of upper case is 4 and lower case is 33'

In [182]:
def uniq(l):
    a = set(l)
    b= list (a)
    return b

In [183]:
uniq([1,1,1,1,1,2,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [7]:
def mult(l):
    m=1
    for i in l:
        m *= i
    return m

In [8]:
mult([1,2,3,4])

24

In [18]:
def pal(S):
    return S == S[::-1]

In [19]:
pal('hello')

False

In [36]:
def reverse(a):
    b = a.split()
    c=''
    for i in range(len(b)-1,-1,-1):
        c = c + b[i] +" "
    return c

In [30]:
reverse("aWESOME is cODING")

'cODING is aWESOME '

In [34]:
def reverse(s):
    b = s.split()
    c = b[::-1]
    for i in c:
        return " ".join(c)

In [35]:
reverse("aWESOME is cODING")

'cODING is aWESOME'

In [37]:
print(0b111)

7

In [39]:
t = [1]
tuple(t)

(1,)

In [41]:
t= 'r'
tuple(t)

('r',)

In [10]:
a = [1,2,3]

In [11]:
b = a.reverse()

In [12]:
type(b)

NoneType