In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [4]:
df

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
a= ['sanket','dave','sd','immortal']

In [6]:
a

['sanket', 'dave', 'sd', 'immortal']

In [9]:
a = pd.Series(a)

In [10]:
b=2

In [11]:
b

2

In [12]:
a

0      sanket
1        dave
2          sd
3    immortal
dtype: object

In [13]:
df = pd.DataFrame({
    'A':1,
    'C':pd.Series(1,list(range(4))),
    'D':pd.Categorical(['male','female','female','male']),
    'E':np.array([3]*4),
    'F':['ajay','nikhil','rajesh','kushal']
})

In [14]:
df

   A  C       D  E       F
0  1  1    male  3    ajay
1  1  1  female  3  nikhil
2  1  1  female  3  rajesh
3  1  1    male  3  kushal

In [15]:
df.describe()

         A    C    E
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [16]:
df = pd.DataFrame({
    'Name' : ['ajay','sachin','yash','kanika','nidhi','nikhil','bhargav','parul','bhavik','sanket','hiren'],
    'Gender' : ['male','male','male','female','female','male','male','female','male','male','male'],
    'Age' : [23,22,24,23,43,23,43,21,33,20,22,],
    'Math':[34,54,56,65,67,67,87,87,88,98,98],
    'Chem':[76,45,54,34,65,75,87,98,67,54,45],
    'Phy' :[56,45,76,88,76,89,78,76,65,45,54]
})

In [17]:
df

       Name  Gender  Age  Math  Chem  Phy
0      ajay    male   23    34    76   56
1    sachin    male   22    54    45   45
2      yash    male   24    56    54   76
3    kanika  female   23    65    34   88
4     nidhi  female   43    67    65   76
5    nikhil    male   23    67    75   89
6   bhargav    male   43    87    87   78
7     parul  female   21    87    98   76
8    bhavik    male   33    88    67   65
9    sanket    male   20    98    54   45
10    hiren    male   22    98    45   54

In [18]:
df['Percentage'] =

KeyError: 'Percentage'

In [ ]:
df