In [29]:
import pandas as sd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [30]:
a = sd.Series([1,2,3,4,5,6,7,8,9,10])

In [31]:
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
a = ['Sanket','Umang','Dhiren','Hiren','Aniket','Piyush','Yash']

In [32]:
a = sd.Series(a)

In [33]:
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [19]:
b = {'*':'sanket','b':'MAAHI','c':'HD'}

In [20]:
b = pd.Series(b)

In [21]:
b

*    sanket
b     MAAHI
c        HD
dtype: object

In [22]:
b.index

Index(['*', 'b', 'c'], dtype='object')

In [24]:
b.values

array(['sanket', 'MAAHI', 'HD'], dtype=object)

# DATE RANGE

In [25]:
date = sd.date_range('20191230',periods=10)

In [27]:
date = sd.Series(date)

In [28]:
date

0   2019-12-30
1   2019-12-31
2   2020-01-01
3   2020-01-02
4   2020-01-03
5   2020-01-04
6   2020-01-05
7   2020-01-06
8   2020-01-07
9   2020-01-08
dtype: datetime64[ns]

In [38]:
c = sd.DataFrame({
    'A':1,
    'B':sd.Timestamp('20191230'),
    'C':sd.Series(1,list(range(4))),
})

In [39]:
c

   A          B  C
0  1 2019-12-30  1
1  1 2019-12-30  1
2  1 2019-12-30  1
3  1 2019-12-30  1

In [40]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 3 columns):
A    4 non-null int64
B    4 non-null datetime64[ns]
C    4 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 128.0 bytes